= render 'layouts/header'
/ Content Area
.content-area.bg-light-blue.page19.full-vh
  .bg-top
  .container
    .row
      .col-12
        .content-inner
          %h5.white
            - if @stripe_account.present?
              - if @stripe_account.details_submitted
                Vos informations de paiement sont validées
              - else
                Veuillez compléter vos informations de paiement.
            - else
              Veuillez compléter vos informations de paiement.
            %br
          %p.white Ces informations sont nécessaires pour percevoir vos paiements.
          %br

          = simple_form_for [:dashboard, @payment_info], html: { class: 'my-form' } do |f|
            %input#token-account{:name => "token-account", :type => "hidden"}/
            %input#token-person{:name => "token-person", :type => "hidden"}/
            %fieldset
              -# = f.input :first_name, input_html: { value: current_user.first_name }
              -# = f.input :last_name, input_html: { value: current_user.last_name }
            %fieldset
              = f.input :iban
              -#
              -# %legend Business Address
              -# = f.input :business_address_1
              -#
              -# = f.input :business_city
              -# = f.input :business_state
              -# = f.input :business_zip_code

            -# %fieldset
            -#   %legend Representative Address
            -#   = f.input :contact_address_1
            -#   = f.input :contact_city
            -#   = f.input :contact_state
            -#   = f.input :contact_zip_code


            -# %p
            -#   %br
            -#   En cliquant sur ce bouton, vous acceptez
            -#   %a{:href => "#"} nos Conditions Générales d'Utilisation
            -#   ainsi que les
            -#   %a{:href => "/connect-account/legal"} Conditions d'Utilisation des Comptes Connectés Stripe
            -#   %br
            -#   %br
            - if @stripe_account.present? && @stripe_account.details_submitted
              %button.validate.g-blue-bg.fontbold Modifier →
            - else
              %button.validate.g-blue-bg.fontbold Suivant →
