= render 'layouts/header'
/ Content Area
.content-area.bg-dark-blue2.full-vh
  .container
    .row
      .col-12
        .object-content
          = simple_form_for [:dashboard, current_user ] do |f|
            = f.hidden_field :next_step, value: 'price'
            %p.fontlight Entre ton objectif
            %h3.fontlight
              = f.input_field :financial_goal,  class: 'fontlight big-transparent-input', required: true, placeholder: '5000'
              %sub €
            %button.validate.g-blue-bg.fontbold{:ref => "#", :type => "submit", :value => "Suivant →"} Valider →
/ Content Area
