= render 'layouts/header'
/ Header
%header.header-area.py-4.page2
  .container
    .row.mt-30
      .col-12
        .panel-heading
          .panel-title
            %ul.nav.nav-tabs.border-tab
              %li
                %a.active{"data-toggle" => "tab", :href => "#revenus"} revenus
              %li
                %a{"data-toggle" => "tab", :href => "#moyennes"} moyennes

/ Header
.panel.panel-default
  .panel-body.bg-dark-blue
    .tab-content
      #revenus.tab-pane.active
        .container
          .row
            .col-12
              .top-links
                %a{:href => "#"} réel
                %a.active{:href => "#"} objectif
              .panel.panel-default.mt-30
                .panel-heading
                  .panel-title
                    %ul.nav.nav-tabs.circle-tab.mb-20
                      %li
                        %a{"data-toggle" => "tab", :href => "#jour"} jour
                      %li
                        %a{"data-toggle" => "tab", :href => "#semaine"} semaine
                      %li
                        %a.active{"data-toggle" => "tab", :href => "#mois"} mois
                      %li
                        %a{"data-toggle" => "tab", :href => "#année"} année
        / Graph Area
        .graph-area.bg-dark-blue
          %canvas#myChart{:height => "100"}
        / Graph Area
        / Content Area
        .content-area.bg-light-blue
          .container
            .row
              .col-12
                .content-inner
                  / Tab start
                  #september
                    %h2.subtitle Septembre
                    .table-box.align-items-center.row.text-center
                      .col-4.table-body
                        %p.heading Total
                        %p.fontbold €5.528,00
                      .col-4.table-body
                        %p.heading Clients
                        %p.fontlight 5
                      .col-4.table-body
                        %p.heading Écart
                        %p.site-btn.fontlight.btn-bg -72,00€
                    .table-box.align-items-center.table2.text-center.row.mt-20
                      .col-4.table-body
                        %p.heading Produit
                        %p.fontlight OFFRE 1
                        %p.fontlight OFFRE 2
                        %p.fontlight OFFRE 3
                        %p.fontlight PROGRAMMES
                      .col-4.table-body
                        %p.heading Clients
                        %p.fontlight 1
                        %p.fontlight 0
                        %p.fontlight 0
                        %p.fontlight 0
                      .col-4.table-body
                        %p.heading Total
                        %p.fontlight €500,00
                        %p.fontlight €0,00
                        %p.fontlight €0,00
                        %p.fontlight €0,00
                    .conversion-bars
                      .single-bar.mt-30
                        .svg-chart
                          %svg.donut{:height => "100%", :viewbox => "0 0 40 40", :width => "100%"}
                            %circle.donut-hole{:cx => "20", :cy => "20", :fill => "transparent", :r => "15.91549430918954"}
                            %circle.donut-ring{:cx => "20", :cy => "20", :fill => "transparent", :r => "15.91549430918954", "stroke-width" => "8"}
                            %circle.donut-segment{:cx => "20", :cy => "20", :fill => "transparent", :r => "15.91549430918954", "stroke-dasharray" => "60 40", "stroke-dashoffset" => "25", "stroke-width" => "8"}
                            %g.donut-text
                              %text{:transform => "translate(0, 2)", :y => "50%"}
                                %tspan.donut-percent{"text-anchor" => "middle", :x => "50%"} 60%
                        .bar-content
                          %h3
                            conversion
                            %span visiteurs/inscriptions
                        .table-box
                          .conversion-table
                            %p.heading Visites
                            %p.fontlight 100
                          .conversion-table
                            %p.heading Inscriptions
                            %p.fontlight 60
                      .single-bar.mt-30
                        .svg-chart
                          %svg.donut{:height => "100%", :viewbox => "0 0 40 40", :width => "100%"}
                            %circle.donut-hole{:cx => "20", :cy => "20", :fill => "transparent", :r => "15.91549430918954"}
                            %circle.donut-ring{:cx => "20", :cy => "20", :fill => "transparent", :r => "15.91549430918954", "stroke-width" => "8"}
                            %circle.donut-segment{:cx => "20", :cy => "20", :fill => "transparent", :r => "15.91549430918954", "stroke-dasharray" => "80 20", "stroke-dashoffset" => "25", "stroke-width" => "8"}
                            %g.donut-text
                              %text{:transform => "translate(0, 2)", :y => "50%"}
                                %tspan.donut-percent{"text-anchor" => "middle", :x => "50%"} 80%
                        .bar-content
                          %h3
                            transformation
                            %span activations/clients
                        .table-box
                          .conversion-table
                            %p.heading Clients
                            %p.fontlight 30
                          .conversion-table
                            %p.heading Achats
                            %p.fontlight 24
                  / Tab end
      #moyennes.tab-pane
        / Content Area
        .content-area.bg-light-blue
          .container
            .row
              .col-12
                .content-inner
                  .pricing-box
                    %p Mes revenus mensuels moyens
                    %h3 €4.200,00/mois
                  .table-box.align-items-center.table2.text-center.row.mt-20
                    .col-4.table-body
                      %p.heading Produit
                      %p.fontlight OFFRE 1
                      %p.fontlight OFFRE 2
                      %p.fontlight OFFRE 3
                      %p.fontlight PROGRAMMES
                    .col-4.table-body
                      %p.heading Clients
                      %p.fontlight 1
                      %p.fontlight 0
                      %p.fontlight 0
                      %p.fontlight 0
                    .col-4.table-body
                      %p.heading Total
                      %p.fontlight €500,00
                      %p.fontlight €0,00
                      %p.fontlight €0,00
                      %p.fontlight €0,00
                  .conversion-bars
                    .single-bar.mt-30
                      .svg-chart
                        %svg.donut{:height => "100%", :viewbox => "0 0 40 40", :width => "100%"}
                          %circle.donut-hole{:cx => "20", :cy => "20", :fill => "transparent", :r => "15.91549430918954"}
                          %circle.donut-ring{:cx => "20", :cy => "20", :fill => "transparent", :r => "15.91549430918954", "stroke-width" => "8"}
                          %circle.donut-segment{:cx => "20", :cy => "20", :fill => "transparent", :r => "15.91549430918954", "stroke-dasharray" => "60 40", "stroke-dashoffset" => "25", "stroke-width" => "8"}
                          %g.donut-text
                            %text{:transform => "translate(0, 2)", :y => "50%"}
                              %tspan.donut-percent{"text-anchor" => "middle", :x => "50%"} 60%
                      .bar-content
                        %h3
                          conversion
                          %span visiteurs/inscriptions
                      .table-box
                        .conversion-table
                          %p.heading Visites
                          %p.fontlight 100
                        .conversion-table
                          %p.heading Inscriptions
                          %p.fontlight 60
                    .single-bar.mt-30
                      .svg-chart
                        %svg.donut{:height => "100%", :viewbox => "0 0 40 40", :width => "100%"}
                          %circle.donut-hole{:cx => "20", :cy => "20", :fill => "transparent", :r => "15.91549430918954"}
                          %circle.donut-ring{:cx => "20", :cy => "20", :fill => "transparent", :r => "15.91549430918954", "stroke-width" => "8"}
                          %circle.donut-segment{:cx => "20", :cy => "20", :fill => "transparent", :r => "15.91549430918954", "stroke-dasharray" => "80 20", "stroke-dashoffset" => "25", "stroke-width" => "8"}
                          %g.donut-text
                            %text{:transform => "translate(0, 2)", :y => "50%"}
                              %tspan.donut-percent{"text-anchor" => "middle", :x => "50%"} 80%
                      .bar-content
                        %h3
                          transformation
                          %span activations/clients
                      .table-box
                        .conversion-table
                          %p.heading Clients
                          %p.fontlight 30
                        .conversion-table
                          %p.heading Achats
                          %p.fontlight 24
/ Content Area
