= render 'layouts/header'
/ Content Area
.content-area.bg-light-blue
  .container
    .row
      .col-12
        .content-inner
          = simple_form_for [:dashboard, @user], html: { class: 'my-form' } do |f|
            %fieldset
              = f.input :fb_pixel_code, as: :string, label: 'Numéro de Pixel Facebook', placeholder: 'ex: 553687795253501', input_html: { class: 'tracking-code' }, hint: 'Se trouve sur le gestionnaire d\'évenements de Facebook Business'
            %button.validate.g-blue-bg.fontbold Valider
