<%= render 'layouts/header' %>

<!--Content Area-->
<div class="content-area bg-dark-blue2 full-vh">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="object-content">
          <p class="fontlight">Nom du programme</p>
          <%= simple_form_for [:dashboard, @program] do |f| %>
          <input type="text" name="program[name]" class="form-control" placeholder="Exemple : découverte">
          <button type="submit" value="Suivant →" ref="#" class="validate g-blue-bg fontbold">Suivant →</button>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
<!--Content Area-->
