%p.text-center
  %br
  Pour t'accompagner au mieux, j'ai besoin qu'on fasse connaissance.
  %br
  Tu seras redirigé dans 3 secondes..
:javascript
  setTimeout(function() {
    window.location.replace("#{new_client_registration_url}");
  }, 3000)
