.coaching-area.bg-dark-blue.full-vh
  .text-center
    = image_tag 'logo_big.png', class: 'logo_big'
    = link_to 'Je suis evolucoach', dashboard_root_path, class: 'site-btn', style: 'margin-top: 20vh;'
