/ Content Area
.content-area.bg-light-blue
  .container
    .row
      .col-12
        .content-inner
          .panel.panel-default
            .panel-heading
              .panel-title
                %ul.nav.nav-tabs.border-tab
                  %li
                    %a.active{"data-toggle" => "tab", :href => "#clients"} clients
                  %li
                    %a{"data-toggle" => "tab", :href => "#inscriptions"} inscriptions
            .panel-body
              .tab-content
                #clients.tab-pane.active
                  %h2.subtitle Tranche d’âge
                  %ul.tab-list.mb-25
                    %li
                      %span.leftvalue 18-24
                      .progress
                        .progress-bar.one{"aria-valuenow" => "100", :style => "width: 40%"}
                        %span.rightvalue 15%
                    %li
                      %span.leftvalue 25-34
                      .progress
                        .progress-bar.two{"aria-valuenow" => "100", :style => "width: 60%"}
                        %span.rightvalue 25%
                    %li
                      %span.leftvalue 35-44
                      .progress
                        .progress-bar.three{"aria-valuenow" => "100", :style => "width: 65%"}
                        %span.rightvalue 30%
                    %li
                      %span.leftvalue 45-54
                      .progress
                        .progress-bar.four{"aria-valuenow" => "100", :style => "width: 40%"}
                        %span.rightvalue 15%
                    %li
                      %span.leftvalue +55
                      .progress
                        .progress-bar.five{"aria-valuenow" => "100", :style => "width: 25%"}
                        %span.rightvalue 5%
                  .panel.panel-default
                    .panel-heading
                      .panel-title
                        .panel-header.mb-25
                          %h2.subtitle.no-mb Genre
                          %ul.nav.nav-tabs.noborder-tab
                            %li
                              %a.active{"data-toggle" => "tab", :href => "#tout"} Tout
                            %li
                              %a{"data-toggle" => "tab", :href => "#femmes"} Femmes
                            %li
                              %a{"data-toggle" => "tab", :href => "#hommes"} Hommes
                    .panel-body
                      .tab-content
                        #tout.tab-pane.active
                          .cirle-chart
                            %h3
                              %span.iblue 70%
                              Femmes
                            .chart
                              %svg.chart{:viewbox => "-10 -10 20 20"}
                                %path#femme{:d => "", :fill => "#03B3BB"}
                                %path#homme{:d => "", :fill => "#101D26"}
                            %h3
                              %span.iblue 30%
                              Hommes
                        #femmes.tab-pane
                          %h2 femmes
                        #hommes.tab-pane
                          %h2 hommes
                  %h2.subtitle.mt-25 Villes
                  %ul.tab-list.citytab
                    %li
                      %span.leftvalue Paris
                      .progress
                        .progress-bar.one{"aria-valuenow" => "100", :style => "width: 40%"}
                        %span.rightvalue 15%
                    %li
                      %span.leftvalue Boullogne
                      .progress
                        .progress-bar.two{"aria-valuenow" => "100", :style => "width: 60%"}
                        %span.rightvalue 25%
                    %li
                      %span.leftvalue Issy les…
                      .progress
                        .progress-bar.three{"aria-valuenow" => "100", :style => "width: 65%"}
                        %span.rightvalue 30%
                    %li
                      %span.leftvalue Courbevoie
                      .progress
                        .progress-bar.four{"aria-valuenow" => "100", :style => "width: 40%"}
                        %span.rightvalue 15%
                    %li
                      %span.leftvalue Asnières
                      .progress
                        .progress-bar.five{"aria-valuenow" => "100", :style => "width: 25%"}
                        %span.rightvalue 5%
                #inscriptions.tab-pane
                  %h2.subtitle Tranche d’âge
                  %ul.tab-list.mb-25
                    %li
                      %span.leftvalue 18-24
                      .progress
                        .progress-bar.one{"aria-valuenow" => "100", :style => "width: 40%"}
                        %span.rightvalue 15%
                    %li
                      %span.leftvalue 25-34
                      .progress
                        .progress-bar.two{"aria-valuenow" => "100", :style => "width: 60%"}
                        %span.rightvalue 25%
                    %li
                      %span.leftvalue 35-44
                      .progress
                        .progress-bar.three{"aria-valuenow" => "100", :style => "width: 65%"}
                        %span.rightvalue 30%
                    %li
                      %span.leftvalue 45-54
                      .progress
                        .progress-bar.four{"aria-valuenow" => "100", :style => "width: 40%"}
                        %span.rightvalue 15%
                    %li
                      %span.leftvalue +55
                      .progress
                        .progress-bar.five{"aria-valuenow" => "100", :style => "width: 25%"}
                        %span.rightvalue 5%
                  .panel.panel-default
                    .panel-heading
                      .panel-title
                        .panel-header.mb-25
                          %h2.subtitle.no-mb Genre
                          %ul.nav.nav-tabs.noborder-tab
                            %li
                              %a.active{"data-toggle" => "tab", :href => "#tout"} Tout
                            %li
                              %a{"data-toggle" => "tab", :href => "#femmes"} Femmes
                            %li
                              %a{"data-toggle" => "tab", :href => "#hommes"} Hommes
                    .panel-body
                      .tab-content
                        #tout.tab-pane.active
                          .cirle-chart
                            %h3
                              %span.iblue 70%
                              Femmes
                            .chart
                              %svg.chart{:viewbox => "-10 -10 20 20"}
                                %path#femme1{:d => "", :fill => "#03B3BB"}
                                %path#homme1{:d => "", :fill => "#101D26"}
                            %h3
                              %span.iblue 30%
                              Hommes
                        #femmes.tab-pane
                          %h2 femmes
                        #hommes.tab-pane
                          %h2 hommes
                  %h2.subtitle.mt-25 Villes
                  %ul.tab-list.citytab
                    %li
                      %span.leftvalue Paris
                      .progress
                        .progress-bar.one{"aria-valuenow" => "100", :style => "width: 40%"}
                        %span.rightvalue 15%
                    %li
                      %span.leftvalue Boullogne
                      .progress
                        .progress-bar.two{"aria-valuenow" => "100", :style => "width: 60%"}
                        %span.rightvalue 25%
                    %li
                      %span.leftvalue Issy les…
                      .progress
                        .progress-bar.three{"aria-valuenow" => "100", :style => "width: 65%"}
                        %span.rightvalue 30%
                    %li
                      %span.leftvalue Courbevoie
                      .progress
                        .progress-bar.four{"aria-valuenow" => "100", :style => "width: 40%"}
                        %span.rightvalue 15%
                    %li
                      %span.leftvalue Asnières
                      .progress
                        .progress-bar.five{"aria-valuenow" => "100", :style => "width: 25%"}
                        %span.rightvalue 5%
