= render 'layouts/header'
.coaching-area.g-blue-bg
  .container
    .row
      .col-12
        %h3 Ton prochain coaching
        .coaching-box
          .co-img
            = image_tag "member-1.png", alt:""
          .single-box
            %h4
              lundi 23 sept 16h00
              %span
                Nicolas B.
            %p.fontlight 1/10 pack transformation
          .single-icon
            = image_tag "boxbtm.png", alt:""
/ Content Area
.content-area.bg-light-blue
  .bg-top
  .container
    .row
      .col-12
        .content-inner.page23
          #september
            %h2.mt-20.subtitle Statistiques
            %p.para-sub Période en cours : février
            .table-box.align-items-center.row.text-center
              .col-4.table-body
                %p.heading Total
                %p.fontbold €0,00
              .col-4.table-body
                %p.heading Clients
                %p.fontlight 5
              .col-4.table-body
                %p.heading Écart
                %p.site-btn.fontlight.btn-bg.grey-bg 0,00€
            .table-box.align-items-center.table2.text-center.row.mt-20
              .col-4.table-body
                %p.heading Produit
                %p.fontlight OFFRE 1
                %p.fontlight OFFRE 2
                %p.fontlight OFFRE 3
                %p.fontlight PROGRAMMES
              .col-4.table-body
                %p.heading Clients
                %p.fontlight 1
                %p.fontlight 0
                %p.fontlight 0
                %p.fontlight 0
              .col-4.table-body
                %p.heading Total
                %p.fontlight €500,00
                %p.fontlight €0,00
                %p.fontlight €0,00
                %p.fontlight €0,00
            %a.border-btn{:href => "#"}
              = image_tag "pen.png", alt:""
              Créer un objectif
