
<div class="coching-area g-blue-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Ton prochain coaching</h3>
                    <div class="coaching-box">
                        <div class="co-img">
                            <%= image_tag "member-1.png", alt:"" %>
                        </div>
                        <div class="single-box">
                            <h4>lundi 23 sept 16h00 <span>Nicolas B.
                                </span></h4>
                            <p class="fontlight">1/10 pack transformation</p>
                        </div>
                        <div class="single-icon">
                            <%= image_tag "boxbtm.png", alt:"" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Content Area-->
    <div class="content-area bg-light-blue">
        <div class="bg-top"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content-inner page23">
                        <div id="september">
                            <h2 class="mt-20 subtitle">Statistiques</h2>
                            <p class="para-sub">Période en cours : février</p>
                            <div class="table-box align-items-center row text-center">
                                <div class="col-4 table-body">
                                    <p class="heading">Total</p>
                                    <p class="fontbold">€0,00</p>
                                </div>
                                <div class="col-4 table-body">
                                    <p class="heading">Clients</p>
                                    <p class="fontlight">5</p>
                                </div>
                                <div class="col-4 table-body">
                                    <p class="heading">Écart</p>
                                    <p class="site-btn fontlight btn-bg grey-bg">0,00€</p>
                                </div>
                            </div>

                            <div class="table-box align-items-center table2 text-center row mt-20">
                                <div class="col-4 table-body">
                                    <p class="heading">Produit</p>
                                    <p class="fontlight">OFFRE 1</p>
                                    <p class="fontlight">OFFRE 2</p>
                                    <p class="fontlight">OFFRE 3</p>
                                    <p class="fontlight">PROGRAMMES</p>
                                </div>
                                <div class="col-4 table-body">
                                    <p class="heading">Clients</p>
                                    <p class="fontlight">1</p>
                                    <p class="fontlight">0</p>
                                    <p class="fontlight">0</p>
                                    <p class="fontlight">0</p>
                                </div>
                                <div class="col-4 table-body">
                                    <p class="heading">Total</p>
                                    <p class="fontlight">€500,00</p>
                                    <p class="fontlight">€0,00</p>
                                    <p class="fontlight">€0,00</p>
                                    <p class="fontlight">€0,00</p>
                                </div>
                            </div>

                            <a href="#" class="border-btn">
                                <%= image_tag "pen.png", alt:"" %>
                                Créer un objectif
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
