!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      body, body * { font-family: Arial; font-size: 14px; } td.content-block { padding-bottom: 10px !important; } .btn { background: #19909c; padding: 10px 10px; color: #fff; border-radius: 5px; text-decoration: none; margin: 5px 0px; display: inline-block; }
  %body
    = yield
