%body
  %header.header-area.profile.page30.py-4
    .container
      .row
        .col-12
          .d-flex.justify-content-between.align-items-center
            %a{:href => "#"}
              %span.left-angle
            %h1
              %span.iblue> EVOLU
              COACH
            %a#menubar{:href => "#"}
              %span.bar.d-none
              %span.bar.d-none
              %span.bar.d-none
          .profile-inner
            .profile-box.mt-30
              .profile-img
                %img{:alt => "Farid", :src => "images/farid.png"}/
              %h3
                15
                %span.fontlight Coachings
              %h3
                5
                %span.fontlight Réstant
              .profile-bag
                %img{:alt => "Bag", :src => "images/boxbtm.png"}/
            .profile-name.page30.mt-10
              %h2.name Nicolas Desloges
              %a{:href => "#"} Pack transformation
            .profile-links.mt-30
              %a.active{:href => "#"} planning
              %a.fontlight{:href => "#"} programmes
              %a.fontlight{:href => "#"} suivi
  / Header
  / Content Area
  .content-area.bg-light-blue
    .bg-top
    .container
      .row
        .col-12
          .content-inner.page30
            .planning-box
              %h4
                lundi 23 septembre
                = succeed "16h00" do
                  %br/
                %span Pack transformation 5/10
              %a{:href => "#"}
                %img{:alt => "", :src => "images/cross-grey.png"}/
            .planning-box
              %h4
                dimanche 29 septembre
                %br>/
                16h00
                %span Pack transformation 5/10
              %a{:href => "#"}
                %img{:alt => "", :src => "images/cross-grey.png"}/
            .planning-box
              %h4
                lundi 10 octobre
                %br>/
                16h00
                %span Pack transformation 5/10
              %a{:href => "#"}
                %img{:alt => "", :src => "images/cross-grey.png"}/
            .planning-box
              %h4
                lundi 17 octobre 16h00
                %span Pack transformation 5/10
              %a{:href => "#"}
                %img{:alt => "", :src => "images/cross-grey.png"}/
            .planning-box
              %h4
                lundi 23 septembre
                = succeed "16h00" do
                  %br/
                %span Pack transformation 5/10
              %a{:href => "#"}
                %img{:alt => "", :src => "images/cross-grey.png"}/
  / Content Area
