%body
  %header.header-area.border-btm.py-4
    .container
      .row
        .col-12
          .d-flex.justify-content-between.align-items-center
            %a{:href => "#"}
              %span.left-angle
            %h1 ANALYSES TRAFIC
            %a#menubar{:href => "#"}
              %span.bar
              %span.bar
              %span.bar
    .menu-area
      = render 'layouts/navigation'
  / Header
