/ Header
%header.header-area.border-btm.bg-light-blue.page21
  .container
    .row
      .col-12
        .d-flex.justify-content-between.align-items-center
          %a{:href => dashboard_crm_path(@user_has_client, section: 'followup')}
            %span.left-angle
          %h1.font-sm NOTE
          %a{:href => "#"}

/ Header
/ Content Area
.content-area.bg-light-blue.full-vh.page33
  .container
    .row
      .col-12
        .object-content.white
          %p.fontlight
          = simple_form_for @crm_comment, url: dashboard_crm_comment_index_path do |f|
            = f.input :name, placeholder: 'Titre de la note', label: false
            .fontlight.radius-and-padding.white-bg.grey
              = f.input :comment, as: :text, label: false, input_html: { class: 'fontlight big-transparent-textarea full-width' } , required: true, placeholder: 'Commence à écrire ta note'
            %button.validate.g-blue-bg.fontbold Ajouter
/ Content Area
